*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container{
    max-width: 1328px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}